<div class="banner">
  <h1>Questions#answer</h1>
</div>
<p>Find me in app/views/questions/answer.html.erb</p>
<br>
<p>Your message: <%= @message %></p>
<br>
<p>Your coach's answer: <%= @answer %></p>

<a><%= link_to "Ask a new question", "ask" %></a>
